@font-face {
    font-family: OpenSans;
    src: url("../fonts/OpenSans-Regular.ttf"),
         url("../fonts/OpenSans-Regular.woff"),
         url("../fonts/OpenSans-Regular.woff2");
    font-weight: normal;
}

@font-face {
    font-family: OpenSans;
    src: url("../fonts/OpenSans-Bold.ttf"),
    url("../fonts/OpenSans-Bold.woff"),
    url("../fonts/OpenSans-Bold.woff2");
    font-weight: bold;
}
