@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Regular.ttf") format('truetype'),
    url("../fonts/OpenSans-Regular.woff") format('woff'),
    url("../fonts/OpenSans-Regular.woff2") format('woff2');
    font-weight: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Bold.ttf") format('truetype'),
    url("../fonts/OpenSans-Bold.woff") format('woff'),
    url("../fonts/OpenSans-Bold.woff2") format('woff2');
    font-weight: bold;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "OpenSans", sans-serif;
    font-weight: normal;
}

/* common block container */
.container{
    margin: 0 auto;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
}

@media (min-width: 768px) {
    .container{
        width: 768px;
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media (min-width: 1200px) {
    .container{
        width: 1200px;
    }
}

/* common block download */
.download__button{
    display: block;
    width: 100%;
    margin-bottom: 13px;
    padding: 5px 0;
    background-color: #5D41B0;
    border-radius: 30px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    line-height: 1.5;
}
.download__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    width: 118px;
    margin: 0 auto;
}
.download__button:last-child{
    margin-bottom: 0;
}
.download__icon{
    height: 21px;
    fill: #ffffff;
    margin-right: 9px;
}
.download__text-wrapper{
    font-size: 9px;
    text-align: left;
    text-transform: uppercase;
}
.download__text{
    display: block;
}

/* common block logo */
.logo{
    margin-bottom: 120px;
    text-align: center;
    fill: #ffffff;
}
.logo__icon{
    width: 133px;
    color: #ffffff;
}

/* block header */
.header{
    position: relative;
    padding-top: 33px;
    padding-bottom: 83px;
}
.header:before{
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #090B35;
    opacity: 0.8;
    z-index: -1;
}
.header:after{
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../images/football_767.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    z-index: -2;
}
.header__info{
    margin-bottom: 82px;
    font-size: 10px;
    font-weight: bold;
    color: #ffffff;
}
.header__info-text{
    display: block;
    width: 100%;
    margin-bottom: 15px;
    font-size: 3em;
}
.header__info-text:nth-child(2){
    padding-left: 43px;
    margin-bottom: 0;
    line-height: 1.16;
}

/* block know */
.know__title--big{
    font-size: 3rem;
    letter-spacing: 1.3px;
    color: #E7E7E7;
    font-weight: bold;
}
.know__image{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.know__item{
    padding: 50px 0;
    background-color: #F9F9F9;
}
.know__item--grey{
    background-color: #F5F3F9;
}
.know__item--purple{
    background-color: #5D41B0;
}
.know__item--dark-purple{
    background-color: #090B35;
}
.know__item:nth-child(1){
    padding-top: 82px;
}
.know__title{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 25px;
    color: #C1C1C1;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 2.3px;
}
.know__item-number{
    font-size: 0.6em;
    margin-right: 10px;
    color: #000000;
    font-weight: bold;
    letter-spacing: 1px;
}
.know__item-number:after{
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 3px;
    background-color: #ffffff;
}
.know__item-number--purple:after{
    background-color: #5D41B0;
}
.know__item-number--purple-text{
    color: #5D41B0;
}
.know__item-text{
    font-weight: lighter;
}
.know__item-text-white-text{
    color: #ffffff;
}

/* block athlets */
.athlets{
    padding: 9px 0;
}
.athlets__title{
    margin-bottom: 5px;
}
.athlets__list{
    margin-top: -55px;
}

/* block athlets */


/* block numbering */
.numbering{
    position: relative;
    height: 10px;
    padding: 0 15px;
    margin-bottom: 15px;
}
.numbering__tile{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: #5D41B0;
    color: #ffffff;
    transform: translateY(-50px);
}
.numbering__number:after{
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    border-radius: 3px;
    background-color: #ddd;
    opacity: 0.6;
}

/* block stages */
.stages__block{
    display: flex;
    flex-direction: column;
}
.stages__info{
    padding: 0 15px;
}
.stages__info-label{
    margin-bottom: 15px;
    text-transform: uppercase;
    color: #E7E7E7;
}
.stages__info-text{
    margin-bottom: 70px;
}
.stages__find-contact{
    flex-direction: column-reverse;
}
.stages__image-wrapper{
    font-size: 0;
}
.stages__image{
    width: 100%;
}

/* block footer */
.footer{
    position: relative;
    padding-top: 90px;
    padding-bottom: 10px;
}
.footer:before{
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #090B35;
    opacity: 0.8;
    z-index: -1;
}
.footer:after{
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/game_767.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    z-index: -2;
}
.footer__wrapper--text-center{
    text-align: center;
}
.footer__icon{
    padding: 7px;
    border-radius: 12px;
    background-color: #5D41B0;
    margin-bottom: 20px;
}
.footer__info{
    font-size: 10px;
    text-align: center;
    margin-bottom: 40px;
}
.footer__info-title{
    color: #ffffff;
    font-size: 3.3em;
    text-transform: uppercase;
}
.footer__info-text{
    color: #9B8EC1;
    font-size: 1.5em;
    text-transform: uppercase;
}
.footer__download{
    margin-bottom: 30px;
}
.footer__logo{
    margin-bottom: 0;
}

